body {
    margin: 0;
    background-color: brown;
}

.main{
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1em;
    justify-content: space-between;
    
    
}
.rupikaur{
background-image: url("../public/rupikaur.png");
}

.whenthepawn{
    background-image: url("../public/whenthepawn.png");
}

.eosd {
    background-image: url("../public/eosd.png");
}

#text_eosd {
    font-family: 'Revue', arial;
    font-size: 2rem;
}

.content_wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
}


.generated_content{
    background-color: rgb(173, 99, 99);
    opacity: 0.8;
    border-radius: 0.5em;
    height: 100%;
    padding: 0.5em;
    font-size: min(8vw, 3rem);
    font-family:'Trebuchet MS';
    color: beige;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.generated_content button {
    border: none;
    background-color: rgb(168, 70, 70);
    border-radius: 1rem;
    height: 2em;
    width: 4em;
    font-size: 1rem;
    font-family:'Trebuchet MS';
    color: beige;
    margin-right: 1em;
}

.generated_content button:hover {
    background-color: rgb(170, 51, 51);
    color: hotpink;
}

.top_ones_content{
    opacity: 0.8;
    margin-left: auto;
    margin-bottom: auto;
    background-color: rgb(173, 99, 99);
    border-radius: 1rem;
    height: 100%;
    padding: 0.5em;
    font-size: min(8vw,3rem);
    font-family:'Trebuchet MS';
    color: beige;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.links_content {
    margin-top: auto;
    opacity: 0.8;
    background-color: rgb(173, 99, 99);
    border-radius: 1rem;
    padding: 0.5em;
    font-size: 1rem;
    font-family:'Trebuchet MS';
    color: beige;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    
    width: 27em;
    justify-content: space-around;
    place-items: center;
}

.links_content a {
    text-decoration: none;
    color: beige;
}
.links_content a:hover {
    color: hotpink;
    text-decoration: underline;
  }

.secret p {
    color: hotpink;
    margin: 0;
    display: inline;
}

@media (max-width: 700px) {
    /* For mobile phones: */
    .generated_content {
        width: 100vw;
    }
    .top_ones_content {
        width: 100vw;
    }
    .links_content {
        width: auto;
        margin-top: 0;
    }
    
  }